/* ! CONSTANTS */
:root{
    --blue-dark: #084f91;
    --blue-medium: #0060b8;
    --blue-light: #2989e2;
    --gray-dark: #222;
    --gray-medium: #3f3f3f;
    --gray-light: #E7E5DE;
    --white-dark: #FEFCF4;
    --white-medium: #fcfbff;
    --white-light: #FFF;
}

/* ! ALL */
*{
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box !important;
    color: var(--white-light);
}

html {
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

.container {
    width: 100%;
    max-width: 1340px;
}

.icon-default {
    font-size: 30px;
    cursor: pointer;
}

.icon-small-default {
    font-size: 18px;
    cursor: pointer;
    padding: 0px;
    margin-left: 5px;
}

[class^="icon-"]:before{
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,p,li{
    margin: 0px;
    padding: 0px;
}

body h1::after,
body h2::after,
body h3::after,
body h4::after,
body h5::after,
body h6::after{
    content: "";
    /* position: absolute; */
    display: block;
    background-color: var(--blue-light);
    height: 3px;
    width: 100%;
    border-radius: 3px;
}

/* Setando para não aplicar o efeito do after no title dos alerts */
.swal2-title::after,
.swal2-title::after,
.swal2-title::after,
.swal2-title::after,
.swal2-title::after,
.swal2-title::after{
    display: none;
}

ul{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

p {
    font-size: 16px;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

button {
    display: flex;
    background-color: var(--blue-medium);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--white-medium);
    transition: transform 0.5s ease;
    align-items: center;
}

button:hover{
    filter: grayscale(80%);
}

input,
textarea {
    width: 90%;
    max-width: 300px;
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid var(--blue-light);
    padding: 10px 10px;
    outline: 0;
    color: var(--gray-dark);
}

textarea {  
    min-height: 50px!important;
    height: auto;
}

select {
    border-radius: 10px;
    border: 1px solid var(--blue-light);
    padding: 10px 10px;
    outline: 0;
    color: var(--gray-dark);
}

select>option{
    color: var(--gray-dark);
}

select>option:active{
    color: var(--gray-dark);
    font-weight: 600;
}

input:focus,
textarea:focus{
    border: 1px solid var(--blue-dark);
    box-shadow: 0 0 10px var(--blue-light);
}

input + input {
    margin-top: 20px;
}

input + textarea{
    margin-top: 20px;
}

.only-small-screen-block{
    display: none !important;
}

.only-small-screen-flex{
    display: none!important;
}

.only-big-screen-block{
    display: block!important;
}

.only-big-screen-flex{
    display: flex!important;
}

.display-none{
    display: none;
}

.display-flex{
    display: flex;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-around{
    align-items: space-around;
}

.align-between{
    align-items: space-between;
}

.align-center{
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

/* ! MENU */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    z-index: 99;
    background-color: var(--blue-light);
    padding: 0px 40px;
    box-shadow: 0px 0px 10px var(--gray-dark);
}

header nav {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}

header .colum-left {
    flex: 1;
    display: flex;
    height: inherit;
    justify-content: flex-start;
    align-items: center;
}

header .colum-right{
    flex: 1;
    display: flex;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
}

header .colum-right ul.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

header .colum-right ul.menu > li.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .colum-right ul.menu > li.menu-item a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .colum-right ul.menu > li.menu-item:not(:last-child){
    margin-right: 20px;
}

header .colum-right ul.menu > li.menu-item > button.install-app {
    width: 188px;
}

header .colum-right ul.menu > li.menu-item > button.enable-notifications {
    width: 242px;
}

header .colum-right ul.menu > li.menu-item > button > i {
    margin-left: 5px;
}

/* São mostradas pelo javascript somente se for indentificado que o navegador suporta notificações */
/* TODO  ARRUMAR AQUI*/
header ul.menu > li.menu-item.notifications{
    display: none;
}

/* ! MAIN */
main {
    width: 100vw;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
}

/* ! INPUT FOR SEARCH */
input[name="search-term"]{
    width: 500px;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid var(--blue-light);
}

/* ! SECTION#POSTS */
section#posts{
    width: 100vw;
    height: 100%;
}

section#posts .section-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

section#posts .section-area .each-post {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid var(--gray-medium); */
    box-shadow: 0px 0px 10px var(--gray-medium);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--blue-medium);
}

section#posts .section-area .each-post + .each-post {
    margin-top: 20px;
}

section#posts .section-area .each-post img{
    width: 100%;
    max-width: 480px;
    max-height: 380px;
}

section#posts .section-area .each-post h1.title {
    justify-content: center;
    margin-top: 5px;
    color: var(--white-light);
}

section#posts .section-area .each-post h1.title::after{
    display: none;
}

section#posts .section-area .each-post table {
    width: 100%;
}

section#posts .section-area .each-post table tr{
    height: auto;
}

section#posts .section-area .each-post table td {
    height: auto;
    /* color: var(--gray-dark); */
    padding: 10px 0px;
}

section#posts .section-area .each-post table td + td{
    text-align: right;
}

section#posts .section-area .each-post table td.tdheader{
    font-size: 18px;
}


section#posts .section-area .each-post table td .links-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section#posts .section-area .each-post table td i{
    margin-left: 3px;
    font-size: 25px;
}

section#posts .section-area .each-post table td.date-value {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section#posts .section-area .each-post table td.date-value > i{
    font-size: 25px;
}


/* ! ICON ADD POST */
i.icon-plus-circled.add-post {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 55px !important;

    bottom: 55px;
    right: 30px;
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-color: var(--blue-medium);
    
    box-shadow: 0px 0px 10px var(--gray-medium);
    cursor: pointer;
}

/* ! MODAL DEFAULT */
/* .bg-background-modal{
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
} */
.modal {
    transform: translateY(-100vh);
    position: fixed;
    /* position: absolute; */
    z-index: 2;
    transition: transform 0.6s ease;
    box-shadow: 2px 0px 10px var(--gray-dark);
}

.modal .modal-content {
    /* min-height: 100%; */
    /* height: auto; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.modal.show-modal-default {
    top: 50%!important;
    transform: translate3d(-50%, -50%, 0)!important;
    opacity: 1!important;
}

/* ! MODAL LOGIN */
.modal.modal-login {
    top: 50%!important;
    background-color: var(--white-light);
    width: 90%;
    max-width: 410px;
    height: 350px;
    left: 50%;
    transition: all 0.6s ease;
    transform: translate3d(-50%, -100vh, 0);
    opacity: 0;
    border-radius: 10px;
}

.modal.modal-login h1{
    color: var(--gray-dark);
}

.modal.modal-login #btn-register{
    font-weight: 600;
    color: var(--gray-dark);
}

.modal.modal-login #btn-register:hover{
    text-decoration: underline;
}

.modal.modal-login>.modal-content>.form-inputs {
    padding: 20px 0px;
}

.modal.modal-login>.modal-content>.btn-group>button {
    margin: 0px 20px;
    margin-top: 20px;
    padding: 10px;
}

/* ! MODAL REGISTER */
.modal.modal-register {
    top: 50%!important;
    background-color: var(--white-light);
    width: 90%;
    max-width: 410px;
    height: 350px;
    left: 50%;
    transition: all 0.6s ease;
    transform: translate3d(-50%, -100vh, 0);
    opacity: 0;
    border-radius: 10px;
}

.modal.modal-register h1{
    color: var(--gray-dark);
}

.modal.modal-register>.modal-content>.form-inputs {
    padding: 20px 0px;
}

.modal.modal-register>.modal-content>.btn-group>button {
    margin: 0px 20px;
    margin-top: 20px;
    padding: 10px;
}


/* ! MODAL ADD POST */
.modal.modal-add-post{
    background-color: var(--white-light);
    width: 100vw;
    height: calc(100vh - 70px);
    top: 70px;
}

.modal.modal-add-post .modal-content {
    overflow-y: scroll;
}

.modal-add-post.show-modal-add-post{
    transform: translateY(0);
}

.modal.modal-add-post h1{
    color: var(--gray-dark);
    margin-bottom: 20px;
}

.modal.modal-add-post h1::after{
    content: "";
    /* position: absolute; */
    display: block;
    background-color: var(--blue-light);
    height: 3px;
    width: 100%;
    border-radius: 3px;
}

.modal.modal-add-post .image-picker-box {
    margin: 20px 0px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.modal-add-post .image-picker-box h4{
    color: #000;
    margin-bottom: 20px;
}

.modal.modal-add-post .image-picker-box label{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--blue-medium);
}

.modal.modal-add-post .image-picker-box label i {
    margin-left: 10px;
    font-size: 20px;
}

.modal.modal-add-post video {
    width: 100vw;
    max-width: 450px;
    max-height: 450px;
}

.modal.modal-add-post #canvas-img-capture{
    background-position: center;
    background-size: cover;
    margin: auto;
    font-size: 30px;
}

.modal.modal-add-post .camera-controls{
    width: 100%;
    display: none;
    margin: 30px 0px;
    width: 90%;
    max-width: 330px;
    min-width: 330px;
}

.modal.modal-add-post .camera-controls #btn-img-capture {
    font-size: 40px;
}

.modal.modal-add-post .camera-controls select#camera-options {
    display: flex;
}

.modal.modal-add-post video,
.modal.modal-add-post canvas {
    display: none;
}

.modal.modal-add-post input[type=file]{
    display: none;
}

.modal.modal-add-post .geolocation-box{
    display: flex;
    width: 90%;
    max-width: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.modal.modal-add-post .geolocation-box #btn-location i{
    font-size: 20px;
    margin-left: 10px;
}

/* SPINNER da GEOLOCATION */
.modal.modal-add-post .spinner{
    width: 2rem;
    height: 2rem;
    /* display: inline-block; */
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: var(--blue-dark);
    /* margin-bottom: 2rem; */
    animation: 1s spin infinite ease-in-out;
    display: none;
}

/* Animação do Spinner */
@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}


.modal.modal-add-post .btn-group{
    width: 100%;
    max-width: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.modal-add-post .btn-group button{
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.modal.modal-add-post .btn-group button i {
    margin-left: 10px;
    font-size: 20px;
}


/* ! FOOTER */
footer{
    position: absolute;
    background-color: var(--blue-medium);
    width: 100vw;
    height: 40px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h4{
    margin: 0px;
}

footer h4::after{
    display: none;
}

/* ! PAGE HELPER SECTION HELPER */
section#help{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

section#help img{
    margin-bottom: 10px;
    max-width: 400px;
}

section#help .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#help .card + .card {
    margin-top: 30px;
}

section#help .card h1,
section#help .card p{
    color: var(--gray-dark);
    text-align: center;
}

section#help .card p {
    max-width: 90%;
}

#swal2-content{
    color: var(--gray-dark)!important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    width: 2.4375em !important;
}

/* ! LOADER DA PAGINACAO DE SCROLL INFINITO */
.loader {
    opacity: 0;
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in;
}

.loader.show {
    opacity: 1;
}

.circle {
    background-color: var(--blue-light);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }   
    50% {
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 925px){
    /* !MENU MOBILE */
    header nav .menu {
        z-index: 90;
        position: absolute;
        height: calc(100vh - (70px));
        width: 100vw;
        left: 0;
        top: 70px;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        background-color: var(--blue-light);
        padding: 20px;

        transform: translateX(-100vw);
        transition: transform 0.5s ease;
    }

    header nav .menu.show-menu-mobile{
        transform: translate3d(0,0,0);
    }

    header .colum-right ul.menu > li.menu-item {
        width: 100%;
        margin-right: 0px!important;
    }

    header .colum-right ul.menu > li.menu-item:not(:first-child){
        margin-top: 20px;
    }

    header .colum-right ul.menu > .social-midias{
        position: absolute;
        bottom: 90px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .colum-right ul.menu > .social-midias i {
        font-size: 50px;
        margin-right: 5px;
        margin-left: 5px;
    }

    header .colum-right ul.menu > a[href*="lgrdev"]{
        position: absolute;
        bottom: 65px;
    }

    input[name="search-term"]{
        width: 100%;
        max-width: 100%;
    }

    .only-small-screen-block{
        display: block!important;
    }

    .only-small-screen-flex{
        display: flex!important;
    }

    .only-big-screen-block{
        display: none!important;
    }

    .only-big-screen-flex{
        display: none!important;
    }
}